// ==================================================
//      Header
// ==================================================

header {
    background: $primary;
    width: 100%;
    height: $banner;
    line-height: $banner;
}

.logo {
    float: left;
    margin-left: 20px;
}



