// // // // // // // // // //
//
//       Dashboard
//
// // // // // // // // // //

.dashboard {
    color: $offwhite;
    position: relative;
    min-height: calc(100vh);

    @include mediaMin($landscape) {
        min-height: 512px;
        // height: calc(100vh - 30px);
    }
}