// // // // // // // // // //
//
//       Protected Data
//
// // // // // // // // // //

.protected-data {
    display: inline-block;
    color: $offwhite;
    position: relative;
    font-size: 22px;
    text-align: left;
    padding: 20px;
    border: 1px solid $offwhite;
    z-index: 10;
}