// // // // // // // // // //
//
//       SideNav (Dashboard)
//
// // // // // // // // // //

.side-nav {
    background-color: rgba(darken($darkblue, 5%), 0.75);
    position: relative;
    float: left;
    width: 200px;
    height: calc(100vh - 80px);
    min-height: 650px;
    padding: 20px;
    z-index: 10;
    // @include mediaMin($desktop) {
    //     height: calc(100vh - 80px);;
    //     min-height: 650px;
    // }

    li {
        @include transition(0.2s);
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        padding: 5px 0;
        &.current {
            // border-top: 2px solid hotpink;
            border-bottom: 2px solid hotpink;
        }

        &:hover {
            color: rgba($offwhite, 0.5);
            border-bottom: 2px solid rgba(hotpink, 0.6);
            svg {
                fill: rgba($offwhite, 0.5);
            }
        }
        a {
            display: block;
        }
    }
    svg {
        @include transition(0.2s);
        width: 25px;
        height: 25px;
        fill: $offwhite;
    }
}
// Main dash links
.dash-links {
    margin-top: 10px;
    li {
        font-size: 22px;
        padding-top: 20px;

        // margin-bottom: 20px;
        svg {
            margin-right: 10px;
            vertical-align: middle;
        }
        span {
            vertical-align: middle;
        }
    }
}
// dash menu divider
.dash-hr {
    opacity: 0.3;
    margin-top: 80px;
}
// My Account links
.account-links {
    margin-top: 80px;

    li {
        font-size: 18px;
        margin-left: 15px;

        &:first-of-type {
            margin-top: 15px;
        }
    }
}
// Logout btn
.logout-li {
    button {
        @include transition(0.2s);
        position: relative;
        display: block;
        color: $offwhite;
        width: 100%;
        padding-top: 30px;
        text-align: left;
        border: none;
        &:hover {
            color: rgba($offwhite, 0.5);
        }
        svg {
            @include transform(rotate(180deg));
            @include transition(0.2s);
            position: absolute;
            bottom: 0;
            left: 60px;
            width: 20px;
            height: 20px;
        }
    }
}

.dash-vr {
    @extend %transition;
    opacity: 0;
    position: absolute;
    right: -4px;
    top: -100px;
    background-color: $red;
    width: 4px;
    height: 50px;
    border: none;

    &.one {
        opacity: 1;
        top: 40px;
    }
    &.two {
        opacity: 1;
        top: 90px;
    }
    &.three {
        opacity: 1;
        top: 335px;
    }
    &.four {
        opacity: 1;
        top: 375px;
    }
    &.five {
        opacity: 1;
        top: 445px;
    }
}