// // // // // // // // // //
//
//      breakpoints
//
// // // // // // // // // //

// 
// iPhone ~ Portrait
//
$iphone5: 320px;
$iphone6: 375px;
$iphone6P: 414px;


// 
// iPhone ~ Landscape
//
$iphone5Land: 568px;
$iphone6Land: 667px;
$iphone6PLand: 736px;

//
// Landscape and UP
//
$landscape: 415px;

$expand: 530px;
$collapse: 630px;

$tablet: 737px; 

$aside: 900px;

$desktop: 1040px;
 
