// // // // // // // // // //
//
//       Event Box
//
// // // // // // // // // //


.event-box {
    position: relative;
    display: inline-block;
    background-color: rgba($green, 0.8);
    width: 300px;
    height: 300px;
    margin: 5px 15px;
    padding: 10px 20px 0;
    border-radius: 8px;
    @include mediaMin(877px) {
        float: left;
        &.center {
            float: none;
        }
    }
    @include mediaMin($desktop + 100) {
        margin-left: 5px; 
        margin-right: 5px; 
        font-size: 20px;
        width: 380px;
        height: 380px;
    }
    button {
        border: none;
    }
    ul {
        overflow: auto;
        li {
            margin-bottom: 15px;
            overflow: auto;
        }
    }
    span {
        // float: right;
    }
    .title {
        // float: left;
        color: #b9c6cc;
        display: block;
    }
    .edit-btn {
        position: absolute;
        bottom: 10px;
        left: 10px;
        fill: $offwhite;
        width: 55px;
        height: 55px;
    }
    .delete-btn {
        background-color: rgba($red, 0.7);
        position: absolute;
        bottom: 10px;
        right: 10px;
        padding: 10px;
    }
    &.edit {
        background-color: rgba($purple, 0.8);
        cursor: pointer;
        overflow: hidden;
        &:before {
            @include benz-transition(0.4s);
            @extend %cover;
            content: '';
            top: -100%;
            left: -100%;
            transform: scale(1.4) rotate(45deg);
            background-color: rgba($purple, 0.8);
        }
        &:hover {
            &:before {
                @include benz-transition(0.2s);
                top: 0;
                left: 0;
            }
            svg {
                fill: rgba($offwhite, 0.8);
            }
        }
    }
    &.successful {
        background-color: $darkblue;
    }
    .circle-plus-btn {
        @extend %abs-middle;
        width: 55px;
        height: 55px;
        svg {
            @include transition(0.4s);
            fill: rgba($offwhite, 0.4);
        }
        
    }
}

.success-msg {
    color: lightgreen;
    font-size: 26px;
}