// // // // // // // // // //
//
//       Events
//
// // // // // // // // // //


.events {
    padding-top: 50px;
    // border: 1px solid white;
    text-align: center;
    overflow: hidden;

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .events-container {
        // width: 80%;
        margin: 0 auto;
        // border: 1px solid limegreen;
        overflow: auto;
        @include mediaMin(877px) {
            width: 665px;
        }
        @include mediaMin($desktop + 100) {
            width: 940px;
        }
        @include mediaMin(1500px) {
            width: 1245px;
        }
    }
}