// // // // // // // // // //
//
//     Base Currency Box
//
// // // // // // // // // //

.base-currency-box {
    position: relative;
    display: inline-block;
    background-color: rgba($red, 0.7);
    width: 100%;
    height: 200px;
    
    @include mediaMin($landscape) {
        width: 400px;
    }
    @include mediaMin($collapse) {
        margin-left: 4px;
        float: left;
    }

    h2 {
        text-align: left;
        margin-left: 15px;
        margin-top: 15px;
    }
    .btc-dollar-icon {
        position: absolute;
        fill: $offwhite;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
    }
    .arrow-down-icon {
        fill: $offwhite;
        position: absolute;
        pointer-events: none;
        right: 0;
        width: 30px;
        height: 30px;
    }
    form {
        @extend %abs-middle;
        select {
            color: $offwhite;
            appearance: none;
            background-color: transparent;
            height: 30px;
            width: 100px;
            line-height: 30px;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
}