// // // // // // // // // //
//
//     Base Currency Box
//
// // // // // // // // // //

.base-currency-box {
    position: relative;
    display: inline-block;
    background-color: rgba($red, 0.7);
    width: 100%;
    max-width: 400px;
    height: 200px;
    border-radius: 8px;
    
    @include mediaMin($collapse) {
        margin-left: 4px;
    }
    @include mediaMin($desktop) {
        min-width: 280px;
        width: 25%;
        margin-top: 38px;
    }

    h2 {
        text-align: left;
        margin-left: 15px;
        margin-top: 15px;
    }
    .currency-sym {
        fill: gold;
        width: 40px;
        height: 40px;
        vertical-align: middle;
    }
    .conv-sym {
        fill: $offwhite;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
    }
    .arrow-down-icon {
        @extend %middleR;
        fill: $offwhite;
        pointer-events: none;

        width: 30px;
        height: 30px;
    }
    form {
        @extend %abs-middle;
        font-size: 24px;
        height: 40px;
        line-height: 40px;
        select {
            color: $offwhite;
            appearance: none;
            background-color: transparent;
            width: 120px;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
}