// // // // // // // // // //
//
//       Currency Box
//
// // // // // // // // // //


.c-box {
    position: relative;
    font-size: 20px;
    background-color: rgba($primary, 0.7);
    width: 100%;
    max-width: 400px;
    height: 250px;
    margin: 0 auto 10px;
    border-radius: 8px;

    @include mediaMin($desktop) {
        font-size: 20px;
        width: 48%;
        max-width: initial;
        height: 180px;
        margin-left: 8px;
        float: left;
    }

    .edit-btn {
        position: absolute;
        right: 10px;
        bottom: 10px;
        border: none;
        width: 35px;
        height: 35px;
        svg {
            fill: $offwhite;
        }
    }
}