// ==================================================
//      Main
// ==================================================


main {
    background-color: $offwhite;
    background-color: $grey;
    position: relative;
    min-height: 100vh;
    padding-top: $banner;
    padding-bottom: 200px;
    overflow: hidden;
    @include mediaMin($collapse) {
        min-height: 500px;
    }
    > .container {
        min-height: calc(100vh - 180px);
    }
    >img {
        height: 0;
    }
}

.dashboard-back, 
.landing-back,
.login-signup-back,
.live-chat-back,
.currencies-back,
.currency-page-back,
.settings-back {
	// @extend %transition;
	@extend %cover;
	@include transform(scale(1.1));
	content: '';
	position: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	-webkit-filter: blur(5px);
	filter: blur(5px);
	&.hasTouch {
		background-attachment: scroll;
	}
}
.live-chat-back {
	// background-image: url('/assets/images/times-square-compressor.jpg');
	background-image: url($timesSquare);
	-webkit-filter: none;
	filter: none;
}
.login-signup-back {
	@include transform(scale(1));
	// background-image: url('/assets/images/binary-script-compressor.jpg');
	background-image: url($binaryScript);
	-webkit-filter: none;
	filter: none;
}
.dashboard-back {
	// background-image: url('/assets/images/city-night-cafe-compressor.jpg');
	background-image: url($cityNightCafe);
	background-position: left top;
}
.landing-back {
	// background-image: url('/assets/images/japan-neon-compressor.jpg');
}
.currencies-back {
	// background-image: url('/assets/images/japan-neon-compressor.jpg');
	// background-image: url('/assets/images/japan-neon-compressor.jpg');
	background-color: #70A3CC;
}
.settings-back {
	// background-image: url('/assets/images/blake-connally-373084-compressor.jpg');
	background-image: url($blakeConnally);
	-webkit-filter: blur(2px);
	filter: blur(2px);
	@include mediaMin($collapse) {
			background-position-x: 20%;
	}
	@include mediaMin(1800px) {
			background-position-x: 50px;
	}
}
.currency-page-back {
	// background-image: url('/assets/images/william-bout-264826-compressor.jpg');
	background-image: url($williamBout);
	-webkit-filter: blur(0);
	filter: blur(0);
}




 