// ==================================================
//      Main
// ==================================================


main {
    min-height: 500px;
    overflow: hidden;
}

.container {
    
    h2 {
        text-align: center;
    }
}

 