// ==================================================
//      Main
// ==================================================


main {
    position: relative;
    
    min-height: 100vh;
    padding-top: $banner;
    overflow: hidden;

    &:before {
        z-index: -1;
    }
    &:after {
        @extend %cover;
        background-color: rgba(black, 0.5);
    }

    @include mediaMin($collapse) {
        min-height: 500px;
    }
}

.dashboard-back, 
.landing-back {
    &:before {
        @extend %cover;
        @include transform(scale(1.1));
        content: '';
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }
    &.hasTouch {
        &:before {
            background-attachment: scroll;
        }
    }
}
.dashboard-back {
    &:after {
        @extend %cover;
        background-color: rgba(black, 0.5);
    }
    &:before {
        // background-image: url('/assets/images/japan-neon.jpg');
        background-image: url('/assets/images/city-night-cafe.jpg');
        background-color: #131c01;
    }
}
.landing-back {
    &:before {
        background-image: url('/assets/images/city-night-cafe.jpg');
        background-image: url('/assets/images/japan-neon.jpg');
        background-color: #022876;
    }
}

.container {
    
    h2 {
        // text-align: center;
    }
}

 