// // // // // // // // // //
//
//       Box Slider
//
// // // // // // // // // //

.slick-slider {
    margin-top: 20px;
}
.slick-slide {
    text-align: center;
}

.slick-next,
.slick-prev {
    z-index: 1000;
    width: 60px;
    height: 60px;
    &:before {
        display: none;
    }
    &.slick-disabled {
        svg {
            opacity: 0.3;
        }
    }
    svg {
        fill: rgba($offwhite,0.4);
        width: 60px;
        height: 60px;
    }
}
.slick-next {
    right: 50px;
}
.slick-prev {
    left: 50px;
}

.slick-dots {
    li {
        &.slick-active {
            button {
                &:before {
                    color: $secondary;
                }
            }
        }
        button {
            &:before {
                color: $third;
                font-size: 14px;
            }
        }
    }
}