// // // // // // // // // //
//
//      Box
//
// // // // // // // // // //

.box {
    @include transition(0.4s);
    display: inline-block;
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 8px;
    opacity: 0.97;
    cursor: pointer;

    @include mediaMin($landscape) {
        width: 400px;
    }
    @include mediaMin($desktop) {
        width: 540px;
        height: 350px;
    }

    &:hover {
        background: palette(primary, light);
        color: $third;
    }

    h2 {
        margin-top: 10px;
    }
    // This p is the price on each card
    p { 
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        font-size: 26px;
        width: 100%;
        text-align: center;
        transform: translate(-50%, -50%);
        transition: font-size 0.4s ease;
    }
}

.slick-slide {
    &:nth-of-type(2n) {
        .box {
            background-color: $secondary; 
            
            h2, p {
                color: $third;
            }
        }
    }
    &:nth-of-type(2n + 1) {
        .box {
            background-color: $third; 
            
            h2, p {
                color: $brown;
            }
        }
    }
}

.row {
    overflow: auto;
}