// // // // // // // // // //
//
//       Landing
//
// // // // // // // // // //

#landing {
    position: relative;
    min-height: 600px;
    height: calc(100vh - 180px);
    padding-top: 50px;
    > h2 {
        color: $offwhite;
        position: relative;
        margin: 0;
    }
}
