canvas {
    position: fixed;
    display: block;
    vertical-align: bottom;
}
  
/* ---- particles.js container ---- */
  
.canvas-wrap {
    // position: fixed;
    // left: 0;
    // top: 0;
    // width: 100%;
    // height: 100%;
    // background-color: #484848;
    // background-image: url("/assets/images/nicolas-cool-111447.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: 50% 50%; 
} 