// // // // // // // // // //
//
//       Currency Price
//
// // // // // // // // // //

.currency-page {
    .price {
        // border: 1px solid white;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        @include mediaMin($tablet) {
            display: inline-block;
        }
    }
    .current {
        font-size: 28px;
    }
    .increase {
        color: rgb(21, 219, 21);
    }
    .decrease {
        color: red;
    }
}