// // // // // // // // // //
//
//       Market Graph
//
// // // // // // // // // //


.market-graph {
    position: relative;
    width: 95%;
    height: 300px;
    margin: 0 auto;
}

.loading-icon {
    @extend %abs-middle;
}