.avatar {
    padding-top: 40px;
    overflow: auto;
    h2 {
        text-align: center;
    }
    .container {
        position: relative;
        background-color: rgba($secondary, 0.8);
        width: 95%;
        min-height: 400px;
        max-width: 800px;
        margin: 20px auto;
        text-align: center;
        @include mediaMin($tablet) {
            min-height: 450px;
        }
    }
    form {
        @extend %abs-middle;
        width: 90%;
        max-width: 400px;
        >label, .upload-label {
            position: relative;
            display: block;
            font-size: 18px;
            min-height: 60px;
            overflow: auto;
            @include mediaMin($iphone6) {
                font-size: 20px;;
            }
            @include mediaMin($tablet) {
                font-size: 24px;
            }
            &:first-of-type {
                margin-bottom: 30px;
            }
            span {
                @extend %middleL;
            }
            input, button {
                float: right
            }
        }
    }
    button {
        position: relative;
        width: 120px;
        height: 100px;
        border: 1px solid white;
        .tie-avatar {
            fill: $offwhite;
            width: 80px;
            height: 80px;
        }
        .arrow-down-icon {
            position: absolute;
            right: 10px;
            bottom: 10px;
            fill: $offwhite;
            width: 20px;
            height: 20px;
        }
    }
    .user-avatar-img {
        @extend %abs-middle;
        width: 92px;
        height: 92px;
        margin-left: 2px;
        border-radius: 50%;
        pointer-events: none;
    }
    div.upload-label {
        min-height: 140px;
        // border: 1px solid white;
    }
    input[type="file"] {
        display: none;
    }
    .custom-file-upload {
        position: relative;
        padding: 6px 12px;
        width: 120px;
        height: 100px;
        float: right;
        border: 1px solid #fff;
        border-radius: 5px;
        cursor: pointer;
    }
    .file-name {
        color: lighten(darkgrey, 20%);;
        color: #f9f69d;
        position: absolute;
        right: 0;
        bottom: 0px;
    }
    .image-upload-icon {
        fill: $offwhite;
        width: 80px;
        height: 80px;
    }
    .upload-btn {
        @include transition(0.2s);
        @extend %center;
        bottom: -30px;
        color: $offwhite;
        height: 50px;
        &:hover {
            border-color: lighten($grey, 40%);
        }
    }
    .remove-avatar-btn {
        color: #f97d7d;
        position: absolute;
        bottom: -30px;
        right: 0;
        border: 1px solid white;
        width: 70px;
        height: 50px;
    }
}

