// ==================================================
//      Header
// ==================================================

header {
    background: $primary;
    width: 100%;
    height: $banner;
    line-height: $banner;
}





 