// ==================================================
//      Header
// ==================================================

header {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($primary, 0.8);
    width: 100%;
    height: $banner;
    line-height: $banner;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    // z-index: 1;
}





 