// // // // // // // // // //
//
//       Nav
//
// // // // // // // // // //


nav {
    position: relative;
    height: 100%;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        margin-right: 15px;
    }
    a {
        text-decoration: none;
        color: $third;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $offwhite; 
        }
    }
}
// sliding underline effect
.links-wrap {
    ul.main-links{
        width: 300px;
        li {
            margin: 0;
            width: 33%;
            text-align: center;
            float: left;
            a {
                display: block;
            }
        }
        .one:hover ~ hr {
            background-color: rgba($red, 0.8);
            margin-left: 0;
        }
        .two:hover ~ hr {
            background-color: rgba($red, 0.8);
            margin-left: 33.3%;
        }
        .three:hover ~ hr {
            background-color: rgba($red, 0.8);
            margin-left: 66.6%;
        }
        hr {
            clear: both;
            height: .25rem;
            width: 33.3%;
            margin-left: -50%;
            background-color: transparent;
            border: none;
            transition: .3s ease-in-out;
        }
    }
}

