// ==================================================
//      Footer
// ==================================================

footer {
    position: absolute;
    background: palette(primary, dark);
    color: $primary;
    background: $third;
    width: 100%;
    height: $footer;
    height: 150px;
    left: 0;
    bottom: 0; 
    &.dash {
        @include mediaMax($collapse) {
            height: 300px;
            .copy {
                bottom: 100px;
            }
            .f-up-arrow {
                bottom: 230px;
            }
        }
    }
    &.mobilechat {
        .f-up-arrow {
            opacity: 0;
        }
    }
}

.f-up-arrow {
    @include transition(0.2s);
    position: fixed;
    bottom: 80px;
    right: 10px;
    width: 40px;
    height: 40px;
    fill: lighten(gold, 15%);
    float: right;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    &.fix {
        opacity: 1;
    }
    @include mediaMax($iphone5) {
        right: 20px;
    }
}

.f-nav {
    text-align: center;
    ul {
        display: inline-block;
        padding: 20px 0;
    }
    a, button {
        color: $offwhite;
        &:hover {
            color: $primary;
        }  
    }
    .social-links {
        display: block;
        width: 300px;
        margin: 0 auto;
        li {
            position: relative;
            width: 33.3%;
            height: 20px;
            float: left;
            margin: 0;
        }
        .fa {
            @extend %abs-middle;
            @extend %transition;
            font-size: 32px;
            color: $offwhite;
            &:hover {
                color: $primary;
                @include transform(translate(-50%, -50%) scale(1.1));
            }
        }
    }
}

.copy {
    position: absolute;
    font-size: 13px;
    text-align: center;
    bottom: 10px;
    left: 50%; 
    min-width: 240px;
    transform: translate(-50%, 0);
}

