// // // // // // // // // //
//
//       Buttons
//
// // // // // // // // // //

button {
    background: transparent;
    border-radius: 5px;
    padding: 0;
    outline: none;
    cursor: pointer;
}