// // // // // // // // //
//
//      Chat Box
//
// // // // // // // // //

.chat-box {
    position: relative;
    background-color: $offwhite;
    background-color: #eceff1;;
    width: 100%;
    max-width: 600px;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 16px;
    text-align: center;
    overflow-x: hidden;
    z-index: 1;
    @include mediaMin($tablet) {
        min-height: 580px;
        margin-top: 40px;
        border-radius: 10px;
    }
    @include mediaMin($desktop) {
        overflow-x: unset;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        left: 100px;
    }
    h2 {
        position: relative;
        top: 35px;
    }
    &.mobile {
        position: fixed;
        top: 0;
        left:0;
    }
    .back-btn-icon {
        position: absolute;
        top: 20px;
        left: 10px;
        fill: $third; 
        width: 35px;
        height: 35px;
        cursor: pointer;
        z-index: 1;
    }
    .logout-chat-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .chat-icon {
        @extend %center;
        top: 20px;
        fill: $third; 
        width: 40px;
        height: 40px;
    }
    .user-typing {
        position: absolute;
        left: 20px;
        margin-top: 10px;
    }
}




// .chat-box {
//     position: relative;
//     width: 50%;
//     height: 500px;
//     margin: 30px auto;
//     padding: 50px 20px;
//     text-align: center;
//     border: 1px solid rgba(0,0,0,0.2);
    
//     &.name-box {
//         form {
//             @extend %middle;
//             height: 70px;
            
//             input {
//                 border: none;
//                 border-bottom: 2px solid rgba(0,0,0,0.4);
//             }
//         }
//     }

//     img {
//         position: absolute;
//         width: 50px;
//         height: auto;
//         left: 40px;
//         top: 40px;
//     }
//     form {
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         width: 100%;

//         input {
//             background: transparent;
//             border: 0.5px solid rgba(0,0,0,0.1);
//             height: 30px; 
//             line-height: 30px;
//             padding-left: 10px;
//             outline: none;
//         }
//     }
//     h2 {
//         margin-top: 0;
//     }
//     #messages {
//         height: 300px;
//         border: 1px solid $primary;
//         overflow-y: scroll;
//     }
//     ul {
//         background: rgba(0,0,0,0.04);
//     }
//     li {
//         text-align: left;
//         height: 30px;
//         line-height: 30px;
//         &:nth-of-type(2n) {
//             background-color: lightgrey;

//             span {
//                 background-color: palette(third, vlight);
//             }
//         }
        
//         span {
//             display: inline-block;
//             float: left;
//             margin-right: 20px;
//             padding-left: 10px;
//             padding-right: 10px;
//             min-width: 100px;
//             background-color: $primary;

//         }
//     }
//     .user-list {
//         position: absolute;
//         top: 0;
//         left: -200px;
//         height: 100%;
//         width: 200px;
//         border: 1px solid lightgrey;
        
//         li {
//             background: transparent;
//             padding-left: 15px;
//             border-bottom: 1px solid rgba(0,0,0,0.2);
//         }
//     } 
// }

// .user-typing {
//     float: left;
//     margin-left: 20px;
//     margin-top: 5px;
// }

